# Ignorar todos os diretórios .terraform em qualquer lugar
**/.terraform/

# Ignorar qualquer .terraform.lock.hcl
**/.terraform.lock.hcl

# Ignorar arquivos de estado do Terraform em qualquer pasta
**/*.tfstate
**/*.tfstate.backup
